.bg {
  background-color: darkred;
}

.gCustomer{
  margin:auto;
  width: 1000px;
}

.gQuesos{
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 100px;
}

.titulo{
  margin-left: 500px;
  margin-top: 10px;
}
