<div fxLayout="row" layout-padding fxLayoutAlign="center center">
  <div class="card_container">
    <div class="card_item">
      <h1>Semanal</h1>
      <div class="card_description">
        <p>Elige los distintos que quieres, te lo llevamos a casa para que disfrutes de una semana de la mejor comida!</p>
      </div>
      <div class="card_porperties_container" style="background-color: initial;">
        <div class="card_porperties_text">
          <p style="margin-right: 1em;">👍</p>
          <div>
            <p><strong>Flexible</strong></p>
            <p>Tu decides cuando haces tu pedido, qué semanas y qué platos elegir.</p>
          </div>
        </div>
        <div class="card_porperties_text">
          <p style="margin-right: 1em;">➕</p>
          <div>
            <p><strong>Control de gastos</strong></p>
            <p>Cada semana pagarás un importe distinto, según los platos que elijas..</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card_item">
      <h1>Mensual</h1>
      <div class="card_description">
        <p>Elige los distintos que quieres, te lo llevamos a casa para que disfrutes de un mes de la mejor comida!</p>
      </div>
      <div class="card_porperties_container" style="background-color: initial;">
        <div class="card_porperties_text">
          <p style="margin-right: 1em;">👍</p>
          <div>
            <p><strong>Flexible</strong></p>
            <p>Tu decides cuando haces tu pedido, qué semanas y qué platos elegir.</p>
          </div>
        </div>
        <div class="card_porperties_text">
          <p style="margin-right: 1em;">➕</p>
          <div>
            <p><strong>Control de gastos</strong></p>
            <p>Cada semana pagarás un importe distinto, según los platos que elijas..</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card_item">
      <h1>Mi área</h1>
      <div class="card_description">
        <p>Mira tus suscripciones en marcha, tu historial de pedidos y más.</p>
      </div>
      <div class="card_porperties_container" style="background-color: initial;">
        <div class="card_porperties_text">
          <p style="margin-right: 1em;">👍</p>
          <div>
            <p><strong>Flexible</strong></p>
            <p>Tu decides cuando haces tu pedido, qué semanas y qué platos elegir.</p>
          </div>
        </div>
        <div class="card_porperties_text">
          <p style="margin-right: 1em;">➕</p>
          <div>
            <p><strong>Control de gastos</strong></p>
            <p>Cada semana pagarás un importe distinto, según los platos que elijas..</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
