<sign-in-form #registryForm service="users" entity="user" keys="user_" columns="user_;password;email;name;surname;city" show-header="no" label-header="REGISTRY" header-actions="I">
  <o-text-input attr="user_" required="yes" flex [data]="registryForm.getDataValue('user_')"> </o-text-input>
  <o-text-input attr="surname" required="yes" flex [data]="registryForm.getDataValue('surname')"> </o-text-input>
  <o-text-input attr="city" required="yes" flex [data]="registryForm.getDataValue('city')"> </o-text-input>
  <o-text-input attr="name" required="yes" flex [data]="registryForm.getDataValue('name')"> </o-text-input>
  <o-email-input attr="email" required="yes" flex [data]="registryForm.getDataValue('email')"> </o-email-input>
  <o-password-input attr="password" required="yes" min-length="6" max-length="30" flex [data]="registryForm.getDataValue('password')"></o-password-input>
  <o-password-input attr="password2" required="yes" min-length="6" max-length="30" flex [data]="registryForm.getDataValue('password2')"></o-password-input>
  <re-captcha siteKey="{{ GOOGLE_RECAPTCHA_KEY }}" (captchaResponse)="registryForm.getCaptcha($event)"></re-captcha>
  <o-row layout-align="end center">
    <o-button label="SEND" (click)="registryForm.send()"></o-button>
  </o-row>
</sign-in-form>
