<nav class="nav">
  <div class="nav_logo">
    <img src="../../assets/images/tuppereats.png" alt="Logo" width="64px" height="64px" style="margin-right: 10px;"/>
    <p>TUPPER EATS</p>
  </div>
  <div class="nav_list">
    <ul>
      <li><a routerLink="/login" class="no-text-decoration">SUSCRIPCIÓN</a></li>
      <li><a routerLink="/how-works" class="no-text-decoration">CÓMO FUNCIONA?</a></li>
    </ul>
  </div>
</nav>
<div class="main">
  <div class="main_title">
    <img class="img_pesto" src="../../assets/images/banner-home-pesto.webp" alt="Pesto"/>
    <span class="title"><span>La suscripción semanal</span><br><span>para que comas rico y sano.</span></span><br>
    <span class="subtitle"><span>TupperEats cocina por ti y llena tu nevera</span><br><span>de tuppers ricos y variados sin complicarte la vida.</span></span>
  </div>
  <div class="main_sub">
    <span class="subtitle">	&#x2714; Recibe donde y cuando tú quieras</span><br>
    <span class="subtitle">	&#x2714; Cancela en cualquier momento</span><br>
    <div class="main_sub_button">
      <span><a routerLink="/login" class="no-text-decoration">Pruébalo ya!</a></span>
    </div>
  </div>

  <div class="main_2 text-centered">
    <span class="title"><span>Únete a las más de 1045 personas</span><br><span>que ya han comido TupperEats</span></span>
  </div>
  <div class="main_2_gallery">
    <div class="main_2_gallery_item">
      <img src="../../assets/images/time.svg" alt="time"><br>
      <p class="subtitle text-centered margin-on-top">Menos horas en el super, cocinando y limpiando.</p>
      <p class="text-centered margin-on-top">Y más tiempo para ti. Cinco horas extra en tu semana.</p>
    </div>
    <div class="main_2_gallery_item">
      <img src="../../assets/images/food.svg" alt="food"><br>
      <p class="subtitle text-centered margin-on-top">Cocinamos por ti menús saludables y llenos de sabor.</p>
      <p class="text-centered margin-on-top">Cero aditivos, cero procesados, comida como la de tu madre.</p>
    </div>
    <div class="main_2_gallery_item">
      <img src="../../assets/images/come-mejor.svg" alt="come mejor"><br>
      <p class="subtitle text-centered margin-on-top">Menús con ingredientes naturales desde 8,00€/menú.</p>
      <p class="text-centered margin-on-top">Ahorra comiendo mejor. Que el precio no sea un problema.</p>
    </div>
  </div>

  <div class="main_3 text-centered">
    <p class="title">Comida de verdad con ingredientes naturales</p>
    <p class="subtitle">Hemos crecido con comida preparada que no era buena para nuestra salud: bollería industrial, congelados, aditivos… Por eso para nosotros es tan importante hacerlo bien, cuidando cada detalle, poniéndole cariño. Cueste lo que cueste y sin mentiras. No sólo lo decimos nosotros, lo dicen sobre todo nuestros clientes.</p>
  </div>
  <div class="main_4">
    <div class="main_4_first justified-text">
      <p class="title">Comida saludable que está muy rica</p>
      <p>Todos tus menús estarán diseñados por cociner@s, que harán que te chupes los dedos con cada plato, y por nuestros nutricionistas, que pondrá ese equilibrio necesario para que sean saludables.</p>
      <p>Además, nuestros tuppers nunca te llegarán congelados, llegarán en frío. Así, mantenemos intacto su sabor y su textura para que al calentarlos los comas como recién cocinados.</p>
    </div>
    <div class="main_4_second">
      <img src="../../assets/images/1-1.webp" alt="no-image">
    </div>
  </div>

  <p class="title text-centered margin-on-top12 max-width900">Con una tecnología que te recomienda menús personalizados cada semana</p>
  <div class="main_4 margin-top-2">
    <div class="main_4_first">
      <img src="../../assets/images/nos-adaptamos-a-ti.webp" width="500" height="590" alt="Nos adaptamos a ti">
    </div>
    <div class="main_4_second justified-text">
      <p>Llevamos estudiando más de 3 años la forma de comer de nuestros clientes para crear un algoritmo que, junto con la información que tú nos das de tus gustos nos permite recomendarte los menús que mejor se adapten a ti cada semana.</p>
      <p>Para ello tenemos en cuenta un montón de variables: como desde la nacionalidad de la receta hasta la cantidad de salsa que lleva. Así conseguimos que cada suscripción sea única.</p>
      <p><span class="l-float">	&#x2714;  </span><span class="bold-text">  Tú configuras tu suscripción.</span>  Dinos qué te gusta comer y elige los menús que quieres recibir en tu entrega.</p>
      <p><span class="l-float">	&#x2714;  </span><span class="bold-text">  Tú eliges cuánto prefieres pagar ya que no sólo disponemos de la suscripción semanal.</span>  Échales un vistazo!</p>
    </div>
  </div>

  <div class="box-centered text-centered margin-top-4">
    <p class="subtitle">Cocinamos por ti. Suscríbete.</p>
    <p>Sin preocupaciones. Cancela cuando quieras.</p>
    <div class="main_sub_button box-centered">
      <span><a routerLink="/login" class="no-text-decoration">Pruébalo ya!</a></span>
    </div>
  </div>
  <!-- fin main -->
</div>

<footer>
  <div class="footer">
    <div class="footer_1">
      <p class="subtitle white-text">Contáctenos</p>
      <p class="white-text"><span class="opacity-text">Teléfono &nbsp;</span>666 66 66 66 </p>
      <p class="white-text"><span class="opacity-text">Dirección &nbsp;</span>Rue del Percebe, 13, Bajo</p>
      <p class="white-text"><span class="opacity-text">Correo &nbsp;</span>tuppereats@healthyfood.gal</p>
    </div>
    <div class="footer_2"></div>
  </div>
  <div class="copyright">
    <p class="opacity-text">Copyright © 2022 | TupperEats</p>
  </div>
</footer>
