<nav class="nav">
  <div class="nav_logo">
    <p>Tupper Eats</p>
  </div>
  <div class="nav_list">
    <ul>
      <li>Suscripción</li>
      <li>Como funciona</li>
    </ul>
  </div>
</nav>
<div class="main">
  <div class="main_title">
    <span class="title"><span>La suscripción semanal</span><br><span>para que comas rico y sano</span></span><br>
    <span class="subtitle"><span>TupperEats cocina por ti y llena tu nevera</span><br><span>de tápers ricos y variados sin complicarte la vida.</span></span>
  </div>
  <div class="main_sub">
    <span class="subtitle">	&#x2714; Recibe donde y cuando tú quieras</span><br>
    <span class="subtitle">	&#x2714; Cancela en cualquier momento</span><br>
    <div class="main_sub_button">
      <span>Pruébalo ya!</span>
    </div>
  </div>

  <div class="main_2 text-centered">
    <span class="title"><span>Únete a las más de 103.602 personas</span><br><span>que ya han comido TupperEats</span></span>
  </div>
  <div class="main_2_gallery">
    <div class="main_2_gallery_item">
      <img src="../../assets/images/time.svg" alt="time"><br>
      <p class="subtitle text-centered margin-on-top">Menos horas en el super, cocinando y limpiando.</p>
      <p class="text-centered margin-on-top">Y más tiempo para ti. Cinco horas extra en tu semana.</p>
    </div>
    <div class="main_2_gallery_item">
      <img src="../../assets/images/food.svg" alt="food"><br>
      <p class="subtitle text-centered margin-on-top">Cocinamos por ti menús saludables y llenos de sabor.</p>
      <p class="text-centered margin-on-top">Cero aditivos, cero procesados, comida como la de tu madre.</p>
    </div>
    <div class="main_2_gallery_item">
      <img src="../../assets/images/come-mejor.svg" alt="come mejor"><br>
      <p class="subtitle text-centered margin-on-top">Platos con ingredientes naturales desde 5,45€/plato</p>
      <p class="text-centered margin-on-top">Ahorra comiendo mejor. Que el precio no sea un problema.</p>
    </div>
  </div>

  <div class="main_3 text-centered">
    <p class="title">Comida de verdad con ingredientes naturales</p>
    <p class="subtitle">Hemos crecido con comida preparada que no era buena para nuestra salud: bollería industrial, congelados, aditivos… Por eso para nosotros es tan importante hacerlo bien, cuidando cada detalle, poniéndole cariño. Cueste lo que cueste y sin mentiras. No sólo lo decimos nosotros, lo dicen sobre todo nuestros clientes.</p>
  </div>
  <div class="main_4">
    <div class="main_4_first justified-text">
      <p class="title">Comida saludable que está (muy) rica</p>
      <p>Todos tus menús estarán diseñados por cociner@s, que harán que te chupes los dedos con cada plato, y por nuestra nutricionista, que pondrá ese equilibrio necesario para que sean saludables.</p>
      <p>Además, nuestros tápers nunca te llegarán congelados, llegarán en frío. Así, mantenemos intacto su sabor y su textura para que al calentarlos los comas como recién cocinados.</p>
    </div>
    <div class="main_4_second">
      <img src="../../assets/images/1-1.webp">
    </div>
  </div>

  <p class="title text-centered margin-on-top12 max-width900">Con una tecnología que te recomienda un menú personalizado cada semana</p>
  <div class="main_4 margin-top-2">
    <div class="main_4_first">
      <img src="../../assets/images/nos-adaptamos-a-ti.webp" width="500" height="590">
    </div>
    <div class="main_4_second justified-text">
      <p>Llevamos estudiando más de 5 años la forma de comer de nuestros clientes para crear un algoritmo que, junto con la información que tú nos das de tus gustos nos permite recomendarte los platos que mejor se adapten a ti cada semana.</p>
      <p>Para ello tenemos en cuenta un montón de variables: como desde la nacionalidad de la receta hasta la cantidad de salsa que lleva. Así conseguimos que cada suscripción sea única.</p>
      <p><span class="l-float">	&#x2714;  </span><span class="bold-text">  Tú configuras tu suscripción.</span>  Dinos qué te gusta comer, tus alergias y elige los platos que quieres recibir en tu primera entrega. Con eso, nosotros te sugerimos cada semana un menú con platos diferentes pensados para ti. Y, si quieres, podrás hacer cualquier cambio.</p>
      <p><span class="l-float">	&#x2714;  </span><span class="bold-text">  Tú eliges cuánto pagar.</span> Pagarás cada semana por los platos que quieras recibir. El número y el tipo de platos que elijas es lo que marcará el precio de tu suscripción.</p>
    </div>
  </div>

  <div class="box-centered text-centered margin-top-4">
    <p class="subtitle">Cocinamos por ti. Suscríbete.</p>
    <p>Sin preocupaciones. Cancela cuando quieras.</p>
    <div class="main_sub_button box-centered">
      <span>Pruébalo ya!</span>
    </div>
  </div>
  <!-- fin main -->
</div>

<footer>

</footer>
