<nav class="nav">
  <div class="nav_logo">
    <p>Tupper Eats</p>
  </div>
  <div class="nav_list">
    <ul>
      <li>Suscripción</li>
      <li>Como funciona</li>
    </ul>
  </div>
</nav>
<div class="main">
  <div class="main_title">
    <span class="title"><span>La suscripción semanal</span><br><span>para que comas rico y sano</span></span><br>
    <span class="subtitle"><span>TupperEats cocina por ti y llena tu nevera</span><br><span>de tápers ricos y variados sin complicarte la vida.</span></span>
  </div>
  <div class="main_sub">
    <span class="subtitle">	&#x2714; Recibe donde y cuando tú quieras</span><br>
    <span class="subtitle">	&#x2714; Cancela en cualquier momento</span><br>
    <div class="main_sub_button">
      <span>Pruébalo ya!</span>
    </div>
  </div>

  <div class="main_2 text-centered">
    <span class="title"><span>Únete a las más de 103.602 personas</span><br><span>que ya han comido TupperEats</span></span>
  </div>
  <div class="main_2_gallery">
    <div class="main_2_gallery_item">
      <img src="../../assets/images/time.svg" alt="time"><br>
      <p class="subtitle text-centered margin-on-top">Menos horas en el super, cocinando y limpiando.</p>
      <p class="text-centered margin-on-top">Y más tiempo para ti. Cinco horas extra en tu semana.</p>
    </div>
    <div class="main_2_gallery_item">
      <img src="../../assets/images/food.svg" alt="food"><br>
      <p class="subtitle text-centered margin-on-top">Cocinamos por ti menús saludables y llenos de sabor.</p>
      <p class="text-centered margin-on-top">Cero aditivos, cero procesados, comida como la de tu madre.</p>
    </div>
    <div class="main_2_gallery_item">
      <img src="../../assets/images/come-mejor.svg" alt="come mejor"><br>
      <p class="subtitle text-centered margin-on-top">Platos con ingredientes naturales desde 5,45€/plato</p>
      <p class="text-centered margin-on-top">Ahorra comiendo mejor. Que el precio no sea un problema.</p>
    </div>
  </div>

  <div class="main_3 text-centered">
    <span class="title">
      <span>Comida de verdad con</span><br>
      <span>ingredientes naturales</span><br>
    </span>
    <p class="subtitle">Hemos crecido con comida preparada que no era buena para nuestra salud: bollería industrial, congelados, aditivos… Por eso para nosotros es tan importante hacerlo bien, cuidando cada detalle, poniéndole cariño. Cueste lo que cueste y sin mentiras. No sólo lo decimos nosotros, lo dicen sobre todo nuestros clientes.</p>
  </div>
</div>
<footer>

</footer>
