<sign-in-form #registryForm service="public" entity="user" keys="user_" columns="user_;password;email;name;surname;city;address;phone">
  <div class="form_container">
    <o-text-input class="form_input_1" appearance='outline' attr="user_" required="yes" flex> </o-text-input>
    <o-text-input class="form_input_2" appearance='outline' attr="name" required="yes"  flex> </o-text-input>
    <o-text-input class="form_input_3" appearance='outline' attr="surname" required="yes"  flex> </o-text-input>
    <o-text-input class="form_input_4" appearance='outline' attr="address" required="yes"  flex> </o-text-input>
    <o-text-input class="form_input_5" appearance='outline' attr="city" required="yes"  flex> </o-text-input>
    <o-email-input class="form_input_6" appearance='outline' attr="email" required="yes"  flex> </o-email-input>
    <o-text-input class="form_input_7" appearance='outline' attr="phone" required="yes"  flex> </o-text-input>
    <o-password-input class="form_input_8" appearance='outline' attr="password" required="yes"  min-length="4" max-length="30" flex ></o-password-input>
    <o-password-input class="form_input_9" appearance='outline' attr="password2" required="yes"  min-length="4" max-length="30" flex></o-password-input>
    <button mat-raised-button color="primary" type="submit">Regístrate aquí y a comer!</button>
  </div>
</sign-in-form>
