<nav class="nav">
  <div class="nav_logo">
    <img src="../../assets/images/tuppereats.png" alt="Logo" width="64px" height="64px" style="margin-right: 10px;"/>
    <p><a routerLink="" class="no-text-decoration">TUPPER EATS</a></p>
  </div>
  <div class="nav_list">
    <ul>
      <li><a routerLink="/login" class="no-text-decoration">SUSCRIPCIÓN</a></li>
      <li><a routerLink="/how-works" class="no-text-decoration">CÓMO FUNCIONA</a></li>
    </ul>
  </div>
</nav>
<ng-template #customFormToolbarButtons>
  <ng-content select="[o-form-toolbar-buttons]"></ng-content>
</ng-template>

<ng-host oKeyboardListener keyboardKeys="17;90" (onKeysPressed)="undoKeyboardPressed()" class="scrolling o-scroll">
  <div fxFlex="grow">
    <o-form-toolbar *ngIf="showNotFloatingToolbar && headerPosition==='top'" [label-header]="labelheader" [label-header-align]="labelHeaderAlign"
      [header-actions]="headeractions" [show-header-navigation]="showHeaderNavigation" [show-header-actions-text]="showHeaderActionsText"
      (onCancel)="onCancel.emit($event)" layout-padding>
      <div o-custom-form-toolbar-buttons-wrapper fxLayout="row" fxLayoutAlign="end center">
        <div o-custom-form-toolbar-buttons-wrapper fxLayout="row" fxLayoutAlign="end center">
          <ng-container *ngTemplateOutlet="customFormToolbarButtons"></ng-container>
        </div>
      </div>
    </o-form-toolbar>

    <form  style="margin-top: 10rem;" #innerForm [formGroup]="formGroup" class="inner-form" (ngSubmit)="signin()" [class.form-no-toolbar]="!showHeader" autocomplete="off" autocorrect="off"
      autocapitalize="off" spellcheck="false">
      <div *ngIf="loading | async" class="progress-bar-container">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div layout-padding [fxLayout]="layoutDirection" [fxLayoutAlign]="layoutAlign" class="o-form-content-wrapper">
        <ng-content></ng-content>
      </div>
    </form>
  </div>
</ng-host>
