.input-margin{
  margin-left: 100px;
}
.textarea-style{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15pt;
  font-weight: bold;
  font-style: oblique;
  width: 600px;
}
.o-table-column-centered{
  text-align: center;
}
.image_render_menu{
  width: 32px;
  height: 32px;
  margin: 1px auto;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}
