.input-margin{
  margin-left: 100px;
}
.textarea-style{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15pt;
  font-weight: bold;
  font-style: oblique;
  width: 600px;
}
.o-table-column-centered{
  text-align: center;
}
.image_render_menu{
  width: 32px;
  height: 32px;
  margin: 1px auto;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}
.home-card {
  display: block !important;
  height: 100%;
  margin: auto;
  overflow: hidden;
  width: 100%;
}

.home-card-title {
  color: #cccccc;
  font-weight: bold;
  margin: 0;
  text-align: end
}

.home-card-home-amount {
  color: #202020;
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 0 15px;
  padding-top: 2px;
  text-align: start;
}

.mat-drawer-opened .o-app-sidenav-image div.o-app-sidenav-image-container  {
  margin-top: 0px;
  margin-bottom: 50px;
}

.o-app-sidenav .o-app-sidenav-container .mat-drawer.o-app-sidenav-sidenav.mat-drawer-closed .o-app-sidenav-image .o-app-sidenav-image-container img.o-app-sidenav-image {
  margin-right: 0px;
}
