<o-form-layout-manager title="{{'USERS' | oTranslate }}" separator=" " mode="tab" label-columns="name">
<div fxFill fxLayout="column" fxLayoutAlign="start">
  <o-table class="o-table-column-centered" attr="usersTable" service="users" entity="user" keys="user_"
    columns="user_;password;name;surname;email;nif;userblocked;lastpasswordupdate;firstlogin"
    visible-columns="user_;name;surname;nif" query-rows="10" select-all-checkbox-visible = "yes" detail-mode= "dblclick">
  </o-table>
</div>
</o-form-layout-manager>
