<o-form service="suscriptionCustomers" entity="suscriptionCustomer" keys="suscription_customer_id" header-actions="R;I;U;D" show-header-navigation="no">
  <o-text-input attr="suscription_customer_id" sql-type="INTEGER" enabled="no"></o-text-input>


  <o-row>
    <o-text-input attr="customer_name" required="yes"></o-text-input>
    <o-text-input  class="users-margin" attr="customer_surname" required="yes" fxFlex="33"></o-text-input>
  </o-row>

  <o-row>
    <o-text-input  attr="suscription_name" required="yes" fxFlex="33"></o-text-input>
    <o-text-input  class="users-margin" attr="start_date_suscription_customer" ></o-text-input>
    <o-text-input  class="users-margin" attr="end_date_suscription_customer" ></o-text-input>
  </o-row>

</o-form>
