<o-form-layout-manager title="{{'MENU' | oTranslate }}" separator=" " mode="dialog" label-columns="name">
<div fxFill fxLayout="column" fxLayoutAlign="start">
  <o-table class="o-table-column-centered" attr="menusTable" service="menus" entity="menu" keys="menu_id"
    columns="menu_id;menu_name;first_plate;second_plate;dessert;first_plate_name;second_plate_name;dessert_name;price"
    visible-columns="menu_name;first_plate_name;second_plate_name;dessert_name;price" query-rows="20"
    select-all-checkbox-visible = "yes" detail-mode= "dblclick" >
    <o-table-column class="o-table-column-centered" attr="price" type="currency" currency-symbol="€" currency-symbol-position="right"
    thousand-separator="." decimal-separator=","></o-table-column>
  </o-table>
</div>
</o-form-layout-manager>
