<o-form-layout-manager title="{{'MENU' | oTranslate }}" separator=" " mode="dialog" label-columns="name">
<div fxFill fxLayout="column" fxLayoutAlign="start">
  <o-table class="o-table-column-centered" attr="menusTable" service="menus" entity="menu" keys="menu_id"
    columns="menu_id;menu_name;first_plate;second_plate;dessert;first_plate_name;second_plate_name;dessert_name;price;first_plate_photo;second_plate_photo;dessert_photo"
    visible-columns="menu_name;first_plate_name_photo;second_plate_name_photo;dessert_name_photo;price" query-rows="20"
    select-all-checkbox-visible = "yes" detail-mode= "dblclick" >
    <o-table-column class="o-table-column-centered" attr="price" type="currency" currency-symbol="€" currency-symbol-position="right"
    thousand-separator="." decimal-separator=","></o-table-column>
    <o-table-column attr="first_plate_name_photo" title="first_plate_name" class="o-table-column-centered">
      <app-menu-name-photo-render></app-menu-name-photo-render>
    </o-table-column>
    <o-table-column attr="second_plate_name_photo" title="second_plate_name" class="o-table-column-centered">
      <app-menu-name-photo2-render></app-menu-name-photo2-render>
    </o-table-column>
    <o-table-column attr="dessert_name_photo" title="dessert_name" class="o-table-column-centered">
      <app-menu-name-photo3-render></app-menu-name-photo3-render>
    </o-table-column>
  </o-table>
</div>
</o-form-layout-manager>
