<o-form service="products" entity="product" keys="product_id" header-actions="R;I;U;D" show-header-navigation="no">
  <o-text-input attr="product_id" sql-type="INTEGER" enabled="no"></o-text-input>

  <o-text-input attr="name" required="yes"></o-text-input>

  <o-combo attr="product_category_id" service="masterproducts" entity="category" value-column="id_product_category"
    columns="id_product_category;name_category" visible-columns="name_category" keys="id_product_category" required = "yes">
  </o-combo>

  <o-combo attr="id_product_type" service="masterproducts" entity="type" value-column="product_type_id"
    columns="product_type_id;name_type" visible-columns="name_type" keys="product_type_id" required = "yes">
  </o-combo>

  <o-row>
    <o-image id="product_photo" attr="photo" empty-image="assets/images/no-image.png" sql-type="other" width="100px"
      fxFlex="40"></o-image>
    <o-textarea-input class="input-margin textarea-style" attr="ingredients" fxflex="60" rows="10" required="yes">
    </o-textarea-input>
  </o-row>

  <o-row>
    <o-combo attr="combo-editable-multiple" multiple="yes" attr="allergic_id" fxFlex="40"
          service="products" entity="allergicProduct" value-column="allergic_id"
          columns="allergic_id;allergic_name" visible-columns="allergic_name" keys="allergic_id" required = "yes">
    </o-combo>
  </o-row>

</o-form>
