<o-form service="customers" entity="customer" keys="customer_id" editable-detail="no" show-header="no">
  <o-text-input attr="customer_id" sql-type="INTEGER" enabled="no"></o-text-input>

  <o-row>
   <o-text-input attr="customer_name" required="yes"></o-text-input>
  <o-text-input  class="users-margin" attr="customer_surname" required="yes" fxFlex="33"></o-text-input>
  </o-row>

  <o-row>
    <o-text-input  attr="customer_email" required="yes" fxFlex="33"></o-text-input>
    <o-text-input  class="users-margin" attr="customer_phone" required="yes" fxFlex="33"></o-text-input>
  </o-row>

  <o-row>
    <o-text-input  attr="customer_adress" required="yes" fxFlex="33"></o-text-input>
    <o-text-input  class="users-margin" attr="customer_city" required="yes" fxFlex="33"></o-text-input>
  </o-row>

  <o-row>
    <o-table insert-button="no" delete-button="no" class="o-table-column-centered" fxFlex="50" attr="suscription_customer" service="customers" entity="customer_suscription"
      parent-keys="customer_id" keys="customer_id" columns="customer_id;suscription_customer_id;suscription_name;suscription_price;suscription_id;start_date_suscription_customer;end_date_suscription_customer"
      visible-columns="suscription_name;start_date_suscription_customer;end_date_suscription_customer;suscription_price" query-rows="10" detail-mode="none">
      <o-table-column attr="start_date_suscription_customer" type="date" format="LL" ></o-table-column>
      <o-table-column attr="end_date_suscription_customer" type="date" format="LL" ></o-table-column>
      <o-table-column attr="suscription_price" type="currency" currency-symbol="€" currency-symbol-position="right"
      thousand-separator="." decimal-separator="," ></o-table-column>
    </o-table>

    <o-table insert-button="no" delete-button="no" class="o-table-column-centered" fxFlex="50" attr="menu_customer" service="customers" entity="customer_menu"
      parent-keys="customer_id" keys="customer_id" columns="customer_id;menu_customer_id;menu_id;menu_name;date_menu_customer"
      visible-columns="menu_name;date_menu_customer" query-rows="10" detail-mode="none">
      <o-table-column attr="date_menu_customer" type="date" format="LL" ></o-table-column>
    </o-table>
  </o-row>

</o-form>
