<nav class="nav">
  <div class="nav_logo">
    <img src="../../assets/images/tuppereats.png" alt="Logo" width="64px" height="64px" style="margin-right: 10px;"/>
    <p><a routerLink="" class="no-text-decoration">TUPPER EATS</a></p>
  </div>
  <div class="nav_list">
    <ul>
      <li><a routerLink="/login" class="no-text-decoration">SUSCRIPCIÓN</a></li>
      <li><a routerLink="/how-works" class="no-text-decoration">CÓMO FUNCIONA?</a></li>
    </ul>
  </div>
</nav>
<div class="main">
  <div>
    <h1 class="main_title title text-centered">¿Cómo funciona?</h1>
    <p class="subtitle max-width900 text-centered">Tú decides qué quieres comer, nosotros cocinamos y te envíamos a casa tuppers para que solo tengas que calentarlos. ¿Cómo? De una forma fácil y sencilla.</p>
    <p class="subtitle max-width900 text-centered margin-top-4">Tú eliges</p>
  </div>
  <div class="cards_container">
    <div class="card_container">
      <h1>Opción 1. Pide a la carta</h1>
      <p>Elige entre platos tradicionales, ligeros, postres, producto de nuestros proveedores, postres… tú te haces tu menú.</p>
      <ul>
        <li>Cambiamos la carta cada jueves.</li>
        <li>Pidélo antes del miércoles siguiente a las 23:59h.</li>
        <li>Recíbelo a partir del viernes (dependiendo de tu código postal).</li>
      </ul>
        <div class="card_porperties_container">
          <div class="card_porperties_text">
            <p style="margin-right: 1em;">👍</p>
            <div>
              <p><strong>Flexible</strong></p>
              <p>Tu decides cuando haces tu pedido, qué semanas y qué platos elegir.</p>
            </div>
          </div>
          <div class="card_porperties_text">
            <p style="margin-right: 1em;">➕</p>
            <div>
              <p><strong>Control de gastos</strong></p>
              <p>Cada semana pagarás un importe distinto, según los platos que elijas..</p>
            </div>
          </div>
        </div>
    </div>
    <div class="card_container">
      <h1>Opción 2. Suscríbete</h1>
      <p>Cuéntanos tus alergias, qué ingredientes no te gustan y tu tolerancia al picante. Elige los platos de tu menú de referencia y ¡listo!

        Cada semana recibirás un menú adaptado a tus gustos, del que podrás cambiar lo que quieras.</p>
        <a routerLink="/login" class="no-text-decoration" style="color: #f37f49;">→ Suscríbete</a>
        <div class="card_porperties_container">
          <div class="card_porperties_text">
            <p style="margin-right: 1em;">👍</p>
            <div>
              <p><strong>Flexible</strong></p>
              <p>Tu decides cuando haces tu pedido, qué semanas y qué platos elegir.</p>
            </div>
          </div>
          <div class="card_porperties_text">
            <p style="margin-right: 1em;">👍</p>
            <div>
              <p><strong>Control de gastos</strong></p>
              <p>Tendrás un precio máximo, si no haces cambios nunca pagarás más.</p>
            </div>
          </div>
        </div>
    </div>
  </div>

  <h3 class="text-centered">Oído.</h3>
  <h3 class="text-centered" style="margin-bottom: 8em;">¡Nos ponemos a cocinar!</h3>

  <div class="images_container">
    <div class="images_container_first">
      <img src="../../assets/images/recibe.svg" alt="recibe" />
    </div>
    <div class="images_container_second">
      <h2>Recibe donde quieras</h2>
      <p>Recibirás tus platos fríos, nunca congelados. No olvides guardarlos en tu nevera y mantener la cadena de frío.</p>
      <p>Cuando hayamos planificado la entrega, te enviaremos un mail acotándola a un máximo de 1h30 para que esperes el menor tiempo posible.</p>
    </div>
  </div>
  <div class="images_container">
    <div class="images_container_first">
      <img src="../../assets/images/come.svg" alt="come" />
    </div>
    <div class="images_container_second">
      <h2>Hora de comer</h2>
      <p>En los tuppers encontrarás las instrucciones de calentado. Nuestro equipo de I+D calcula estos tiempos para que el resultado en tu micro sea el perfecto.</p>
    </div>
  </div>
  <div class="images_container">
    <div class="images_container_first">
      <img src="../../assets/images/recicla.svg" alt="recicla" />
    </div>
    <div class="images_container_second">
      <h2>Recicla tus tuppers</h2>
      <p>Nuestros tuppers están hechos de polipropileno de uso alimentario -PP-05- apto para usar en microondas y destinado para reciclaje.</p>
    </div>
  </div>
  <!-- fin main -->
</div>

<footer>
  <div class="footer">
    <div class="footer_1">
      <p class="subtitle white-text">Contáctenos</p>
      <p class="white-text"><span class="opacity-text">Teléfono &nbsp;</span>666 66 66 66 </p>
      <p class="white-text"><span class="opacity-text">Dirección &nbsp;</span>Rue del Percebe, 13, Bajo</p>
      <p class="white-text"><span class="opacity-text">Correo &nbsp;</span>tuppereats@healthyfood.gal</p>
    </div>
    <div class="footer_2"></div>
  </div>
  <div class="copyright">
    <p class="opacity-text">Copyright © 2022 | TupperEats</p>
  </div>
</footer>
