<o-form-layout-manager title="{{'CUSTOMERS' | oTranslate }}" separator=" " mode="tab" label-columns="customer_name">
  <div fxFill fxLayout="column" fxLayoutAlign="start">
    <o-table class="o-table-column-centered" attr="customersable" service="customers" entity="customer" keys="customer_id"
      columns="customer_name;customer_surname;customer_adress;customer_email;customer_phone;customer_city"
      visible-columns="customer_id;customer_name;customer_surname;customer_adress;customer_email;customer_phone;customer_city"
      query-rows="20" select-all-checkbox-visible = "yes" detail-mode= "dblclick">
    </o-table>
  </div>
</o-form-layout-manager>

