/* You can add global styles to this file, and also import other style files */
body{
  background-color: azure;
  margin: 0px;
  padding: 0px;
}
.title{
  font-size: 42px;
  letter-spacing: -0.2px;
  word-spacing: 1.6px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
.subtitle{
  font-size: 22px;
  letter-spacing: 0px;
  word-spacing: 1.6px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
.text-centered{
  text-align: center;
}
.margin-on-top{
  margin-top: 1rem;
}
