/* You can add global styles to this file, and also import other style files */
body{
  background-color: azure;
  margin: 0px;
  padding: 0px;
}
.title{
  font-size: 42px;
  letter-spacing: -0.2px;
  word-spacing: 1.6px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
.subtitle{
  font-size: 22px;
  letter-spacing: 0px;
  word-spacing: 1.6px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
.box-centered{
  margin: auto;
}
.text-centered{
  text-align: center;
}
.margin-on-top{
  margin-top: 1rem;
}
.margin-on-top12{
  margin-top: 12rem !important;
}
.max-width600{
  max-width: 600px;
  margin: auto;
}
.max-width900{
  max-width: 900px;
  margin: auto;
}
.justified-text{
  text-align: justify;
  max-width: 600px;
}
.no-margin-top{
  margin-top:  0rem !important;
}
.margin-top-2{
  margin-top: 1rem  !important;
}
.margin-top-4{
  margin-top: 4rem  !important;
}
.margin-top-8{
  margin-top: 8rem  !important;
}
.margin-top-12{
  margin-top: 12rem  !important;
}
.bold-text{
  font-weight: bold !important;
}
.l-float{
  float: left !important;
}
.white-text{
  color: white;
}
.opacity-text{
  opacity: 0.5;
}
