<o-form service="products" entity="product" keys="product_id" header-actions="R;U;D" show-header-navigation="no">
  <o-text-input attr="product_id" sql-type="INTEGER" enabled="no"></o-text-input>

  <o-text-input attr="name" required="yes"></o-text-input>

  <o-combo attr="product_category_id"
          service="masterproducts" entity="category" value-column="id_product_category"
          columns="id_product_category;name_category" visible-columns="name_category" keys="id_product_category">
  </o-combo>

  <o-row>
    <o-image show-controls="no" id="product_photo" attr="photo" empty-image="assets/images/no-image.png" sql-type="other" width="100px"
      fxFlex="40"></o-image>
    <o-textarea-input class="input-margin textarea-style" attr="ingredients" fxflex="60" rows="10" required="yes">
    </o-textarea-input>
  </o-row>

</o-form>





